.hero {
    background-color:antiquewhite ;
    text-align: center;
}

.section1 {
    background-color: antiquewhite;
    width: 100%;
    height: 50%;
}

.cuadrado {
    color: rgb(51, 80, 70);
    width: 20%;
    height: 30%;
    border: 2px orange solid;
}

.section2 {
    background-color: cadetblue;
    width: 100%;
    height: 50%;
}

.cuadrado2 {
    color:rgb(23, 17, 46);
    width: 20%;
    height: 30%;
    border: 1px solid;
}

footer {
    background-color: cadetblue;
}