<head>
  <link rel="stylesheet" href="app.component.css">
  <nav class="hero"> nav </nav>
</head>

<body>
  <section class="section1">
    <div class="columna">
      <div class="row justify-content-lg-center">
        <div class="cuadrado col-4 col-sm-3"> adsasd</div>
        <div class="cuadrado col-4 col-sm-3"> ghf </div>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="columna">
      <div class="row justify-content-lg-center">
        <div class="cuadrado2 col-4 col-sm-3"> sdf</div>
        <div class="cuadrado2 col-4 col-sm-3"> refgaadc </div>
        <div class="cuadrado2 col-4 col-sm-3"> rtfhn </div>
      </div>
    </div>
  </section>
  <footer> Pie de Pagina </footer>
</body>